params {
    outdir = "output"
    param1 = 1
    param2 = 2
    param3 = "some value goes here"
    useMultiQC = false
}

profiles {
    multiqc {
        docker.enabled = true
        params.useMultiQC = true
        // process.container = "ubuntu:latest"
    }
}

// make sure that the version here matches the one that you are building
plugins {
    id 'nf-niceutils' //@0.0.1'
}

niceutils {
    // demo config setting that does not do anything
     do_foo = "bar"
}

manifest {
    name            = 'test-pipeline'
    author          = 'Stephen Kelly'
    homePage        = 'https://github.com/stevekm/nf-niceutils'
    description     = 'Test Pipeline for nf-niceutils'
    version = "4.2"
    mainScript      = 'test.nf'
}